{% extends 'layouts/base.html' %}

{% block title %} 
Usuarios
{% endblock %}

{% block content %}
<h1>Listado De Usuarios</h1>
<div class="botones">
<button class="btn btn-success"><a href="{{ url_for('Crear_Usuarios') }}" >Crear</a></button>
<button class="btn btn-info"><a href="{{ url_for('Editar') }}" >Editar</a></button>
<button class="btn btn-danger"><a href="{{ url_for('Eliminar') }}" >Eliminar</a></button>
</div>

<table class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Contraseña</th>

        </tr>
    </thead>
    <tbody>{% for lista in Usuarios %}
        <tr>
            <td>{{ lista[0] }}</td>
            <td>{{ lista[1] }}</td>
            <td>{{ lista[2] }}</td>
            <td>{{ lista[3] }}</td>
            <td>{{ lista[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}